
@font-face {
    font-family: SimplerPro_V3-Regular;
    src: url('./SimplerPro_V3-Regular.ttf');
}

@font-face {
    font-family: SimplerPro_V3-Bold;
    src: url('./SimplerPro_V3-Bold.ttf');
}

@font-face {
    font-family: SimplerPro_V3-Light;
    src: url('./SimplerPro_V3-Light.ttf');
}

@font-face {
    font-family: Cairo-Regular;
    src: url('./Cairo-Regular.ttf');
}