#mainPage {
    margin-top: 50vh;
}

#seriesMainImg {
    position: fixed;
    top: 0;
    right: 0;
    height: 57vh; /* 9:16 */
    width: auto; /* 9:16 */
    min-width: 57vw;
    z-index: -1;
}

#seriesMainImg img {
    position: relative;
    height: 100%;
    width: 100%;
}

.catTitle {
    font-size: 40px;
    margin-left: 6vw;
}

#qualityInfo {
    position: relative;
    border-radius: 18px;
    border: 5px solid rgba(56, 56, 56, 0.9);
    display: inline-block;
    line-height: 35px;
}

#qualityInfoText {
    font-size: 36px;
    opacity: 0.85;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
}

#durationInfo {
    position: relative;
    float: left;
    font-size: 3vh;
    padding: 1vh 2vh 1vh 0;
    opacity: 0.8;
}

#seriesMainImg::after {
    display: block;
    background-image: linear-gradient(to right, rgb(18, 18, 18), transparent 60%), linear-gradient(to top, rgb(18, 18, 18), transparent 30%);
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

#seriesMainTitle {
    color: #e4e4e4;
    top: 23.425925vh;
    font-family: SimplerPro_V3-Bold;
    overflow-x: hidden;
}

body.tizen #seriesMainTitle {
    top: 22vh;
}

#seriesMainDesc {
    color: #999;
    top: 29.425925vh; /* +6vh the font size */
    height: 35vh;
    padding-right: 5px;
    overflow-y: hidden;
}

body.tizen #seriesMainDesc {
    top: 28vh;
}

#seriesMainDesc, #seriesMainTitle {
    overflow: hidden;
    padding-right: 5px;
    direction: ltr;
    position: fixed;
    right: 52vw;
    width: 47vw;
}

body.tizen #seriesMainDesc, #seriesMainTitle {
    line-height: 28vh;
}

#vodInnerPageDiv,
#fourKDiv {
    position: fixed;
    top: 68vh;
    left: 0;
    width: 100vw;
}

spinner-preloader {
    position: fixed;
    top: 40vh;
    right: 49vw;
    height: 17vh;
    width: 7vw;
    z-index: 999;
}

body.tizen spinner-preloader {
    top: 64vh;
    right: 66vw;
}

span.noEpisodes {
    top: 80vh;
    position: fixed;
    left: 44vw;
}

.mainShowTitleLine {
    position: fixed;
    height: 6.111111vh;
    top: 10.5vh;
    right: 95.1vw;
    display: none;
}

.mainTitle {
    color: #e4e4e4;
    position: relative;
    margin-top: 12vh;
    font-family: SimplerPro_V3-Bold;
    overflow-x: hidden;
    line-height: 5vh;
}

body.tizen .mainTitle {
    top: 22vh;
}

.mainDesc {
    color: #999;
    font-size: 0.6em;
    margin-top: 1vh; /* +6vh the font size */
    position: relative;
    overflow-y: hidden;
}

body.tizen .mainDesc {
    top: 28vh;
}

.mainDesc {
    max-height: 25vh;
}

.mainDesc,
.mainTitle {
    overflow: hidden;
    padding-right: 5px;
    direction: ltr;
    left: 0;
    width: 37vw;
}

.mainImg {
    position: fixed;
    top: 21vh;
    right: 1vw;
    height: 20.7vw; /* 9:16 */
    width: 36.8vw; /* 9:16 */
}

.mainImg img {
    position: relative;
    height: 100%;
    width: 100%;
}

#textContent {
    position: fixed;
    left: 5vw;
    top: 0;
}