<div id="mainPage">

    <div id="reshetRecentShowsKDiv-1" class="carouselDivParent">
        <div class="catTitle">{{carousels[0].catTitle}}</div>
        <div id="wooCarouselDiv-1" class="carouselDiv"
             left="wooCarouselDiv-1"
             right="wooCarouselDiv-1"
             down="wooCarouselDiv-2"
             enter="play-url"
             back="exit"
             play-url="{{srcToPlay}}">
            <div id="wooCarouselItems-1"></div>
        </div>
    </div>

    <div ng-repeat="carousel in carousels track by $index"
         ng-if="!$first && !$last"
         id="reshetRecentShowsKDiv-{{$index + 1}}" class="carouselDivParent">
        <div class="catTitle">{{carousel.catTitle}}</div>
        <div id="wooCarouselDiv-{{$index + 1}}" class="carouselDiv"
             left="wooCarouselDiv-{{$index + 1}}"
             right="wooCarouselDiv-{{$index + 1}}"
             up="wooCarouselDiv-{{$index}}"
             down="wooCarouselDiv-{{$index + 2}}"
             enter="play-url"
             back="exit"
             play-url="{{srcToPlay}}">
            <div id="wooCarouselItems-{{$index + 1}}"></div>
        </div>
    </div>

    <div id="reshetRecentShowsKDiv-{{carousels.length}}" class="carouselDivParent">
        <div class="catTitle">{{carousels[carousels.length-1].catTitle}}</div>
        <div id="wooCarouselDiv-{{carousels.length}}" class="carouselDiv"
             left="wooCarouselDiv-{{carousels.length}}"
             right="wooCarouselDiv-{{carousels.length}}"
             up="wooCarouselDiv-{{carousels.length - 1}}"
             enter="play-url"
             back="exit"
             play-url="{{srcToPlay}}">
            <div id="wooCarouselItems-{{carousels.length}}"></div>
        </div>
    </div>
</div>

<div id="seriesMainImg">
    <img ng-src="{{mainImgPath}}" onerror="this.src = '../../../../uploads/app-logo.jpg';">
</div>
<div id="textContent">
<div class="mainTitle">
    {{mainTitle}}
</div>

    <div id="extraInfo">
        <div id="durationInfo" ng-if="mainVideoDuration && mainVideoDuration != 'null'">
            {{mainVideoDuration}}
        </div>
        <div id="qualityInfo" ng-if="mainVideoQuality">
            <p id="qualityInfoText">{{mainVideoQuality}}</p>
        </div>
    </div>

<div class="mainDesc">
    {{mainDesc}}
</div>
</div>

<img class="mainShowTitleLine" src="general/img/TitleLine.svg">

<info-bar2 ng-show="showInfoBar"></info-bar2>