.preloaderSplashDiv {
    position: fixed;
    top: 490px;
    right: 910px;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1536px) {
    .preloaderSplashDiv {
        top: 382px;
        right: 718px;
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    .preloaderSplashDiv {
        top: 310px;
        right: 590px;
        width: 100px;
        height: 100px;
    }
}