<div style="position: fixed; background: rgba(0,0,0,0.8); left: 0; top: 0;width: 100vw; height: 100vh; z-index: 999">
    <div class="preloaderSplashDiv">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
             class="lds-rolling"
             style="width:auto;height:100%;animation-play-state: running; animation-delay: 0s; background: none;">
            <circle cx="50" cy="50" fill="none" stroke="#f7f7f7" stroke-width="10" r="35"
                    stroke-dasharray="164.93361431346415 56.97787143782138"
                    transform="rotate(11.0326 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                <animateTransform attributeName="transform" type="rotate" calcMode="linear"
                                  values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s"
                                  repeatCount="indefinite"
                                  style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
        </svg>
    </div>
</div>