
body::after {
    display: block;
    background-image: linear-gradient(to right, rgb(18, 18, 18), transparent 9%), linear-gradient(to top, rgb(18, 18, 18), transparent 50%);
    height: 60%;
    width: 100%;
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
}

#appLogo {
    z-index: 2;
    position: fixed;
    right: 20px;
    top: 20px;
    height: 90px;
    width: 160px;
}

#myjwplayer {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
}

#pluginObjectNetwork {
    height: 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}

#SplashImg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 44px 12px rgba(0, 0, 0, 0.75);
}

splash-screen._splash_fade_out {
    opacity: 0;
}

.wooDialogBtn.focused {
    border-color: #00b4ff;
    color: #00b4ff;
}

.wooDialogBtn {
    position: fixed;
    text-align: center;
    padding-top: 0.75vh;
    font-size: 3vh;
    height: 6vh;
    width: 6vw;
    top: 52vh;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    font-weight: 500;
}

.wooDialog {
    border-radius: 2px;
    position: absolute;
    width: 40%;
    left: 30%;
    top: 40vh;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1001;
    letter-spacing: -2.9px;
}

body.tizen .wooDialog {
    width: 30vw;
    left: 37vw;
    height: 20vh;
}

.wooDialogText {
    position: fixed;
    width: 100vw;
    left: 0;
    text-align: center;
    margin-top: 2vh;
    color: white;
    font-size: 4vh;
}

body.tizen .wooDialogText {
    left: 2vw;
    margin-top: 4vh;
}

body {
    font-size: 4.444444vh;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    margin: 0;
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: SimplerPro_V3-Regular;
}

.hide {
    visibility: hidden;
}

p, div {
    margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.video-grid-con,
.video-item-body,
.video-item-img {
    height: 100%;
}

/*  ~~~~~~~~~~~~~   Grid area   ~~~~~~~~~~~~~~~~~~~ */
.grid-area .grid-item .video-grid-con .video-item-body .video-item-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.grid-area .grid-item.focused {
    outline: 3px solid #00b4ff;
}

.grid-area .video-item-body {
    height: 262px !important;
}

body.tizen .grid-area .video-item-body {
    height: 22vh;
}

.grid-area .grid-item .video-grid-con {
    font-size: 0;
}

.grid-area .grid-item .video-grid-con .video-item-body {
    position: relative;
    height: 262px !important;
    width: 100%;
    transition: all .3s
}

.grid-area .grid-item {
    margin-bottom: 30px;
}

iframe#myYoutubePlayer {
    pointer-events: none;
}