<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>White</title>

    <script src="https://content.jwplatform.com/libraries/BXHLoBah.js?v=white1" onerror="location.reload(true);"></script>

    <!-- LG WebOS lib -->
    <script type="text/javascript" src="tools/webOSjs-0.1.0/webOS.js"></script>

    <script src="bower_components/angular/angular.js" type="application/javascript" rel="script"></script>
    <script src="bower_components/angular/angular-sanitize.min.js"></script>

    <script src="general/global/global_vars.js?v=white1"></script>
    <script src="wooHandlers/PlatformsHandler.js?v=white1"></script>

    <script src="general/config.js?v=white1"></script>

    <script src="index.js?v=white1"></script>

    <script src="wooServices/AllowPressService.js?v=white1"></script>

    <!--   Jquery lib    -->
    <script src="library/components/jquery/dist/jquery.js" type="application/javascript" rel="script"></script>
    <script src="bower_components/jquery.easing/js/jquery.easing.min.js" type="application/javascript" rel="script"></script>

    <!--    Bootstrap   -->
    <link href="library/mini-bootstrap.css?v=white1" rel="stylesheet" type="text/css"/>

    <!--    Boutique     -->
    <link href="library/boutique/css/boutique.css?v=white1" rel="stylesheet" type="text/css"/>
    <script src="library/boutique/demo_files/demos.js?v=white1"></script>

    <!--    Dialogs     -->
    <link href="directives/common/dialogs/dualOptionDialog/dualOptionDialog.css?v=white1" rel="stylesheet" type="text/css"/>
    <link href="directives/common/dialogs/singleOptionDialog/singleOptionDialog.css?v=white1" rel="stylesheet" type="text/css"/>

    <!--WooCarousel     -->
    <script src="wooServices/CarouselService/carousel_movment.js?v=white1" type="application/javascript" rel="script"></script>

    <link href="directives/common/infoBar2/infoBar2.css?v=white1" rel="stylesheet" type="text/css"/>
    <link href="directives/common/wooCarouselArrows/wooCarouselArrows.css?v=white1" rel="stylesheet" type="text/css"/>

    <link href="directives/pages/mainPage/mainPage.css?v=white1" rel="stylesheet" type="text/css"/>

    <link href="wooServices/CarouselService/CarouselService.css?v=white1" rel="stylesheet" type="text/css"/>

    <link href="index.css?v=white1" rel="stylesheet" type="text/css"/>

    <!--    Fonts   -->
    <link href="general/fonts/fonts.css?v=white1" rel="stylesheet"/>

    <!-- TODO matan release <script src="tools/googleAnalytic.js?v=white1"></script>-->
</head>

<body ng-app="app" ng-controller="appController" ng-cloak>

<!-- Tizen only -->
<object id="av-player" type="application/avplayer"></object>
<object id="pluginObjectNetwork" border="0" classid="clsid:SAMSUNG-INFOLINK-NETWORK"></object>
<!-- End Tizen only -->

<script src="http://www.youtube.com/player_api" onerror="location.reload(true);"></script>

<div id="myjwplayer" ng-click="showInfoBarFunc"></div>

<div id="myYoutubePlayer" style="z-index: 10; position: fixed; top:0"></div>

<splash-screen ng-if="showGifSplashScreen">
    <img id="SplashImg" src="resources/img/splashScreen.jpg">
</splash-screen>

<main-page ng-if="currentPage == 'tvPage' && initAjaxFinished"></main-page>

<preloader-splash ng-if="preloaderSplash"></preloader-splash>

<dual-option-dialog ng-show="showDualDialog"></dual-option-dialog>

<single-option-dialog ng-show="showSingleOptionDialog"></single-option-dialog>

<img id="appLogo">

    <!-- must be before VideoPlayer -->
    <script src="wooServices/PlaybackService.js?v=white1"></script>

<script src="wooServices/MouseService/MouseService.js?v=white1"></script>
<script src="tools/players/VideoPlayer/AvVideoPlayer.js?v=white1"></script>

<!-- must be before VideoPlayer -->
<script src="tools/players/VideoPlayer/WooJwPlayer.js?v=white1"></script>

<script src="tools/players/VideoPlayer/WooYoutubePlayer.js?v=white1"></script>
<script src="tools/players/VideoPlayer/VideoPlayer.js?v=white1"></script>

<!--    Angular     -->
<script src="angular/scopeVars.js?v=white1"></script>

<!--    Services    -->
<script src="wooServices/CarouselsGrid.js?v=white1"></script>
<script src="wooServices/ParserService.js?v=white1"></script>
<script src="wooServices/DialogService.js?v=white1"></script>
<script src="wooServices/PlayUrl.js?v=white1"></script>
<script src="wooServices/FocusService/OnFocusedService.js?v=white1"></script>
<script src="wooServices/MouseService/ScrollService.js?v=white1"></script>
<script src="wooServices/ActiveService.js?v=white1"></script>
<script src="wooServices/EpgService.js?v=white1"></script>
<script src="wooServices/FormatterService.js?v=white1"></script>
<script src="wooServices/ExitService.js?v=white1"></script>
<script src="wooServices/PreloaderSplashService/PreloaderSplashService.js?v=white1"></script>
<link href="wooServices/PreloaderSplashService/preloaderSplash.css?v=white1" rel="stylesheet" type="text/css"/>
<script src="wooServices/CarouselService/CarouselService.js?v=white1"></script>
<script src="wooServices/CalcService.js?v=white1"></script>
<script src="wooServices/IntervalService.js?v=white1"></script>
<script src="wooServices/FocusService/FocusService.js?v=white1"></script>
<script src="wooServices/FocusService/specialOrders.js?v=white1"></script>
<script src="wooServices/FocusService/specialAttributes.js?v=white1"></script>
<script src="wooServices/FocusService/specialFunctions.js?v=kan2"></script>
<script src="wooServices/HttpService/HttpOutService/HttpOutService.js?v=white1"></script>
<script src="wooServices/HttpService/HttpWrapperService.js?v=white1"></script>

<!--    Handlers    -->
<script src="wooHandlers/InternetConnectionHandler.js?v=white1"></script>
<script src="wooHandlers/RetryHandler.js?v=white1"></script>

<script src="angular/declare.js?v=white1"></script>
<script src="general/onload.js?v=white1"></script>
<script src="general/global/globalFunctions.js?v=white1"></script>
<script src="press.js?v=white1"></script>
<script src="general/global/keyPressController.js?v=white1"></script>

<!--    common  -->
<script src="directives/common/dialogs/dualOptionDialog/dualOptionDialog.js?v=white1"></script>
<script src="directives/common/dialogs/singleOptionDialog/singleOptionDialog.js?v=white1"></script>

<script src="directives/common/infoBar2/infoBar2.js?v=white1"></script>
<script src="directives/common/wooCarouselArrows/wooCarouselArrows.js?v=white1"></script>

<!--    2_tv  - js  -->
<script src="directives/pages/mainPage/mainPage.js?v=white1"></script>

</body>
</html>

