

body.tizen #exitDialog_yes {
    height: 4vh;
    width: 6vw;
    top: 52vh;
    padding-top: 0.5vh;
}
body.tizen #exitDialog_no {
    height: 4vh;
    width: 6vw;
    top: 52vh;
    padding-top: 0.5vh;
    left:39.5vw;
}

#exitDialog_no{
    left: 38vw;
}

#exitDialog_yes {
    left: 56vw;
}

body.tizen #exitDialog_yes {
    left: 59vw;
}

body.tizen .exit_text {
    padding-top: 0vh;
}

.exit_text {
    margin-top: 3%;
}