<div class="wooDialog">
    <p id="exitDialog_p" class="wooDialogText">{{dialogMsg}}</p>
    <div id="exitDialog_no" class="wooDialogBtn"
         right="exitDialog_yes"
         enter="{{dialogLeftEnter}}, allowClicks"
         ng-click="focusMeAndEnter($event, true)">
        <div class="exit_text">
            {{dialogLeftBtnText}}
        </div>
    </div>
    <div id="exitDialog_yes" class="wooDialogBtn"
         left="exitDialog_no"
         enter="{{dialogRightEnter}}, allowClicks"
         ng-click="focusMeAndEnter($event, true)">
        <div class="exit_text">
            {{dialogRightBtnText}}
        </div>
    </div>
</div>