<div class="wooDialog">
    <p class="wooDialogText">{{singleOptionDialogMsg}}</p>
    <div id="singleOptionDialogBtn"
         class="wooDialogBtn"
         enter="exitApp, allowClicks"
         ng-click="focusMeAndEnter($event, true)">
        <div class="exit_text">{{singleOptionDialogBtnMsg}}</div>
    </div>
</div>