.carousel-item.active .hideMeIfNotActive {
    visibility: visible;
}

.carousel-item .hideMeIfNotActive {
    visibility: hidden;
}

.video-item-img img {
    position: relative;
}

.video-item-img img.hideMeIfNotActive {
    position: absolute;
    top: 45.5px;
    height: 115px;
    width: 115px;
    left: 114px;
    opacity: 0.7;
}

.carousel-item.chosen img {
    z-index: 2;
    box-shadow: 1px 1px 20px #333;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-height: 720px) {
    .video-item-img img.hideMeIfNotActive {
        top: -23vh;
        left: 7vw;
    }
}

.carouselDivParent {
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
}