
reshet-shows-tab .wooCarouselArrow {
    position: fixed;
    width: 2vw;
    height: 3.5vh;
    top: 45vh;
    background: none;
}

@media only screen and (max-height: 720px) {
    reshet-shows-tab .wooCarouselArrow {
        top: 38vh;
    }
}

.wooCarouselArrow{
    border-top: 0.2em solid #ffffff;
    border-left: 0.2em solid #ffffff;
}

reshet-shows-tab .wooCarouselArrow-prev {
    left: 4.166667vw; /*calc(80vw * 100 / 1920);*/
    transform: rotate(-45deg);
}

reshet-shows-tab .wooCarouselArrow-next {
    right: 4.166667vw; /*calc(80vw * 100 / 1920);*/
    transform: rotate(-225deg);
}

.wooCarouselArrow-prev {
    left: 4.166667vw; /*calc(80vw * 100 / 1920);*/
    transform: rotate(-45deg);
}

.wooCarouselArrow-next {
    right: 4.166667vw; /*calc(80vw * 100 / 1920);*/
    transform: rotate(-225deg);
}

radio-page.innerPage .wooCarouselArrow-next {
    right: 1.5vw; /*calc(80vw * 100 / 1920);*/
    transform: rotate(-225deg);
}