<div class="infoBar">

    <div id="infoBar2"

         dont-touch on-focused="none, focusVisibleIcon, showInfoBar"
         dont-touch on-unfocused="none, unfocusVisibleIcon"

         up="{{infoBarUp? infoBarUp : 'none'}}, showInfoBar"
         left="{{infoBarLeft}}"
         right="{{infoBarRight}}"
         back="{{infoBarBack? infoBarBack : 'none'}}"
         down="{{infoBarDown? infoBarDown : 'none'}}, showInfoBar"
         inner-down="{{infoBarInnerDown? infoBarInnerDown : 'none'}}, showInfoBar"
         inner-up="{{infoBarInnerUp? infoBarInnerUp : 'none'}}, showInfoBar"
         element-before-play="{{elementBeforePlay}}"

         dont-touch enter="goToVisibleIconEnterNext, playPause, showInfoBar">

        <img id="infoBar2Play" class="playIcon"
             my-pause="infoBar2Pause"
             dont-touch my-next="infoBar2PlayFocused"
             dont-touch my-init="infoBar2Pause"
             src="directives/common/infoBar2/img/play.png"
             ng-click="mouseInfoBarClick()">

        <img id="infoBar2PlayFocused"
             my-pause="infoBar2PauseFocused"
             dont-touch my-next="infoBar2Play"
             dont-touch my-init="infoBar2PauseFocused"
             class="hide playIcon"
             src="directives/common/infoBar2/img/play-focused.png"
             ng-click="mouseInfoBarClick()">

        <img id="infoBar2Pause"
             class="hide pauseIcon"
             my-play="infoBar2Play"
             dont-touch my-next="infoBar2PauseFocused"
             dont-touch my-init="infoBar2Pause"
             src="directives/common/infoBar2/img/pause.png"
             ng-click="mouseInfoBarClick()">

        <img id="infoBar2PauseFocused"
             my-play="infoBar2PlayFocused"
             dont-touch my-next="infoBar2Pause"
             dont-touch my-init="none"
             class="hide pauseIcon" src="directives/common/infoBar2/img/pause-focused.png"
             ng-click="mouseInfoBarClick()">
    </div>

    <div ng-show="showProgressBar" class="downInfoBar"></div>

    <div ng-show="showProgressBar" id="progressBar"></div>

    <div ng-show="showProgressBar" id="progressBarSpeed">{{infoBarSpeed}}</div>

    <div ng-show="showProgressBar" id="progressBarProgress"></div>

    <div ng-show="showProgressBar" class="timeShow" id="currentTime">
        <span id="currentTimeShow">00:00</span>
    </div>

    <div ng-show="showProgressBar" class="timeShow" id="endTime">
        <span id="endTimeShow">00:00</span>
    </div>

    <img id="infoBar2TitleLine" src="resources/img/TitleLine.png">

    <div id="infoBar2TitleVOD" class="nowShowTitle">
        {{nowShow.title}}
    </div>

</div>