
.infoBar {
    position: fixed;
    z-index: 900;
    left: 5vw;
    bottom: 8vh;
}

img.playIcon{
    position: absolute;
    height: 6vh;
}

img.pauseIcon{
    position: absolute;
    margin-left: 0.5vw;
    height: 6vh;
}

.downInfoBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: linear-gradient(to top, rgb(20, 20, 20), transparent);
}

mondial-tab #progressBar,
arab-tab #progressBar,
live-tab #progressBar,
mondial-tab #progressBarProgress,
arab-tab #progressBarProgress,
live-tab #progressBarProgress{
    margin-left: 8vw;
}

#progressBar,
#progressBarProgress{
    position: fixed;
    z-index: 900;
    bottom: 4.5%;
    height: 1vh;
    margin-top: 1px;
    margin-left: 11.8vw;
}

#progressBar{
    width: 72vw;
    background-color: #797979;
}
body.tizen #progressBar{
    bottom: 3.7vh;
}
#progressBarProgress {
    background-color: #ffffff;
}
body.tizen #progressBarProgress {
    bottom: 3.7vh;
}

#infoBar2 img {
    z-index: 905;
}

.timeShow{
    bottom: 3%;
    font-weight: bold;
    font-size: 0.8em;
}

#progressBarSpeed {
    position: absolute;
    left: 2.5vw;
    top: -14vh;
    z-index: 906;
    font-size: 2em;
}

#carouselShowsContainer,
#infoBar2TitleLine,
#infoBar2ScheduleDate,
.timeShow{
    z-index: 900;
    position: fixed;
    letter-spacing: 0.01vw;
}

#currentTime {
    margin-left: 5vw;
}

#endTime {
    margin-left: 85vw;
}

body.tizen #carouselShowsContainer .nowShowTitle{
    margin-top: 4.6vh;
}

#carouselShowsContainer .nowShowTitle{
    direction: rtl;
    font-weight: bold;
    font-size: 1em;
    min-width: 270px;
    margin-top: 1.5vh;
    white-space: nowrap;
}

body.tizen #carouselShowsContainer .nowShowTitle{
    margin-top: 4vh;
}

#carouselShowsContainer {
    display: inline-block;
    bottom: 13vh;
}

#infoBar2TitleVOD {
    top: 13vh;
    left: 9vw;
    position: fixed;
    z-index: 900;
    font-size: 72px;
}

body.tizen #infoBar2TitleVOD {
    bottom: 17vh;
}

.infoBar #carouselShowsContainer,
.infoBar #infoBar2ScheduleDate {
    right: 7.5vw;
}

.infoBar.showCarouselMode #carouselShowsContainer,
.infoBar.showCarouselMode #infoBar2ScheduleDate {
    right: 12.5vw;
}

#infoBar2ScheduleDate{
    font-weight: lighter;
    font-size: 1em;
    bottom: 18vh;
}

#infoBar2TitleLine{
    height: 12vh;
    left: 5.5vw;
    top: 8.5vh;
}

.HE-next {
    transform: rotate(-45deg);
    margin-left: -4vw;
}

.HE-prev {
    transform: rotate(-225deg);
    position: fixed;
    right: 9vw;
    bottom: 14vh;
    z-index: 906;
    visibility: hidden;
}

.infoBar.showCarouselMode .HE-prev{
    visibility: visible;
}

body.tizen .infoBar .arrowWrapper{
    top: -1vh;
}

.infoBar .arrowWrapper{
    float: left;
    position: relative;
    top: -1vh;
}

body.tizen .infoBar .arrowWrapper {
    top: -1vh;
}
.infoBar #carouselShowsContainer.focused .wooCarouselArrow{
    border-top: 0.1em solid #00b4ff;
    border-left: 0.1em solid #00b4ff;
}
.infoBar .wooCarouselArrow {
    border-top: 0.1em solid #ffffff;
    border-left: 0.1em solid #ffffff;
    width: 4vw;
    height: 4vw;
}

body.tizen .infoBar #carouselShowsContainer{
    right: 12.5vw;
}

body.tizen .infoBar #infoBar2ScheduleDate{
    right: 12.5vw;
}